<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body style="background-color: blanchedalmond; font-size: 160%;">
        <h2 style="background-color:purple ">Registration form</h2>
        <form action="register/" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="enter the username"><br>
                <input type="text" name="first_name" placeholder="enter the firstname"><br>
                <input type="text" name="last_name" placeholder="enter the lastname"><br>
                <input type="email" name="email" placeholder="enter the emailid"><br> 
                <input type="password" name="password" placeholder="enter the password"><br>
            <input type="password" name="confirmpassword" placeholder="enter the confirmpassword"><br>
            <input type ="submit">
        </form>
        {% for msg in messages %}
        <h2>{{msg}}</h2>
        {% endfor %} 
         
    </body>
</html>